[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-multipart = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python main.py runserver"
start2 = "uvicorn main:app --reload"
